{% extends 'includes/base.html' %}


{% block title %}
    Editar empleado
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">
            Modificar Empleados
        </h1>
        <div class="cell">
            <form class="grid-x grid-margin-x " method="POST">{% csrf_token %}
                <div class="cell large-6">
                    <label>Nombres
                        {{ form.first_name }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Apellidos
                        {{ form.last_name }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Trabajo
                        {{ form.job }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Departamento
                        {{ form.departamento }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Habilidades extra
                        {{ form.habilidades }}
                    </label>
                </div>
                <div class="cell">
                    <button class="submit success button">Guardar</button>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock content %}


